<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" href="/front.css">
</head>
<body>
  <div class="container">
    
    <form action="/submit" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Email Id" id="username"  name="username" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"  placeholder="Create Password" id="password" name="password" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="yes-no">Applying for insurance(y/n)</label>
        <input type="text"  placeholder="[Y/N]" id="yes-no" name="yesno" required autocomplete="off">
      </div>
      
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>